<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="by.viachaslau.kukhto.llikelastfm">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <application
        android:name="by.viachaslau.kukhto.llikelastfm.Others.App"
        android:allowBackup="true"
        android:icon="@mipmap/class_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="by.viachaslau.kukhto.llikelastfm.UI.Welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="by.viachaslau.kukhto.llikelastfm.UI.User.UserActivity">
        </activity>
        <activity android:name="by.viachaslau.kukhto.llikelastfm.UI.Artist.ArtistActivity"></activity>
        <activity android:name="by.viachaslau.kukhto.llikelastfm.UI.Album.AlbumActivity"></activity>
        <activity android:name="by.viachaslau.kukhto.llikelastfm.UI.List.ListActivity"></activity>
        <activity android:name="by.viachaslau.kukhto.llikelastfm.UI.WorldChard.WorldChartActivity"></activity>
        <activity android:name="by.viachaslau.kukhto.llikelastfm.UI.Track.TrackActivity"
                  android:theme="@style/Theme.AppCompat.Translucent">
        </activity>
        <activity android:name="by.viachaslau.kukhto.llikelastfm.UI.Search.SearchActivity"></activity>
        <activity android:name="by.viachaslau.kukhto.llikelastfm.UI.YouTube.YouTubeActivity"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="732a3161ec7f6671d5eb82af3af6834b984374b2"
            />

    </application>

</manifest>